{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contents %}
<!-- SHOWOFF 1 -->
    <div class="container-fluid" data-aos="fade-up" style="background-color: #F0F5F6;">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row pb-4">
                        <div class="col-md-7 pt-3">
                            <h2 style="font-family: 'Ubuntu', sans-serif; color:#E62E2D">UKMandiri</h2>
                            <p class="lead bold" style="font-family: 'Ubuntu', sans-serif; color:#56B44C">
                               Wujudkan impian Anda bersama <strong style="color:#E62E2D">UKMandiri.com</strong>  
                            </p>
                            <p class="pb-3">
                                UKMandiri Singkatan dari Koperasi Usaha Kecil Mandiri suatu Organisasi yang berbadan hukum Koperasi.
                                </p>
                                <a href="{% url 'profil' %}" class="btn btn-success">Tentang Kami<<</a>
                        </div>
                        <div class="col-md-5">
                            <img src=" {% static 'img/gambar1.png' %}" alt="" class="img-fluid mb-3">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- SHOWOFF 1 -->


<!-- MEMBERSHIP SECTION -->
<section id="membership" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Unit Bisnis</h1>
                <hr class="w-25 mx-auto">
                <p class="lead">
                    Koperasi Usaha Kecil Mandiri
                    </p>
            </div>
        </div>



        <div class="row">
                    {% for p in promosi  %}
            <div class="col-md-4 mt-4 ">
                <div class="card text-center">
                    <div class="card-header text-white" style="background-color:#56B44C;">
                        <h3 class="pt-2">{{p.judul}}</h3>
                    </div>
                    <div class="card-body">
                        <img src="{{p.logo.url}}" alt="" srcset="" class="img-fluid">
                        <p class="card-text">
                            {{p.keterangan}}
                            </p>
                    </div>
                    <div class="card-footer text-muted d-flex ">
                        <a href="{{p.link}}" class="btn btn-success flex-grow-1">Kunjungi Website</a>
                    </div>
                </div>
            </div>
                    {% endfor %}
    </div>
</section>
<div class="container-fluid py-4" style="background-color: #F0F5F6;">
            <div class="container">
                <div class="row py-3">
                    <div class="col-md-12 text-center">
                        <h1 style="color: darkseagreen;">Hubungi Kami</h1>
                        <hr class="w-25 mx-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                    <h1 style="color: darkseagreen;">Ada yang bisa Kami Bantu ?</h1>
                    <p class="lead">
                        Silahkan isi form sebelah ini jika Anda mempunyai pertanyaan mengenai layanan yang kami berikan.
                        </p>
                        <p>
                            Kami akan segera membalas pesan Anda mengenai Layanan kami.
                        </p>
                    </div>

                    <div class="col-md-8 shadow-sm py-4">
            <form action="{% url 'beranda' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-success">Sent Request</button>
            </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock contents %}