{% extends "base.html" %}
{% load static %}

{% block contents %}
    <div class="container py-5" data-aos="fade-up" >
        <div class="row">
            <div class="col-md-12">
                    <div class="container-fluid" data-aos="fade-up" style="background-color: #F0F5F6;">
                        <div class="row">
                            <div class="col">
                                <div class="container">
                                    <div class="row pb-4">
                                        <div class="col-md-8 pt-3">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h2>Profil UKMandiri</h2>
                                                </div>
                                                <div class="card-body">
                                            <p class="pb-3">
                                                <h5>
                                                <i class="bi bi-calendar-day"> <strong>{{profil.berdiri}}</strong></i>
                                                </h5>
                                                <h5>
                                                <i class="bi bi-card-checklist">
                                                    <strong>
                                                No Induk Koperasi : {{profil.noindukkoperasi}} 
                                                    </strong>
                                                </i>
                                                <br>
                                                <i class="bi bi-card-checklist">
                                                    <strong>
                                                Nomor Badan Hukum : {{profil.badanhukum}} 
                                                    </strong>
                                                </i>
                                                <br>
                                                <i class="bi bi-card-checklist">
                                                    <strong>
                                                Perizinan Berusaha Berbasis Risiko: {{profil.perizinan}} 
                                                    </strong>
                                                </i>
                                                <br>
                                                <i class="bi bi-card-checklist">
                                                    <strong>
                                                Kemenhumham Perubahan: {{profil.kemenhumham}} 
                                                    </strong>
                                                </i>
                                                <br>
                                                <i class="bi bi-card-checklist">
                                                    <strong>
                                                Kementrian Koperasi dan Usaha Kecil dan Menengah RI: {{profil.nokementrian}} 
                                                    </strong>
                                                </i>

                                                </h5>
                                            </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="{{profil.logo.url}}" alt="" class="img-fluid mb-3">
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container-fluid bg-light py-5" data-aos="fade-up" >
            <div class="row">
                <div class="col-md-6 pt-3 pb-3 shadow">
                    <h2 class="text-center bold">Visi</h2>
                    <p>{{profil.visi}}</p>
                </div>
                <div class="col-md-6 pt-3 pb-3 shadow">
                    <h2 class="text-center bold">Misi</h2>
                    <p>{{profil.misi}}</p>
                </div>

            </div>
        </div>
    </section>


<!-- TEAM -->
<section id="team" class="py-5 text-center" data-aos="fade-up">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <h1 class="pb-3">Pengelola UKMandiri</h1>
                <hr class="w-25 mx-auto">
                <p class="lead">
                    Inilah Daftar Pengurus Koperasi UKMandiri Sumatera Utara
                    </p>
            </div>
        </div>

        <div class="row">
{% for p in pengurus %}
            <div class="col-md-6 col-lg-3" data-aos="flip-left">
                <div class="card">
                    <div class="card-body">
                        <img src="{{p.foto.url}} " class="img-fluid rounded-circle w-50 mb-3">
                        <h3>{{p.nama}}</h3>
                        <h5 class="text-muted">{{p.jabatan}}</h5>
                        <div class="py-3">
                            <a href="{{p.fb}}" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-facebook"></i>
                            </a>
                            <a href="{{p.tw}}" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="{{p.ig}}" class="text-secondary text-decoration-none fs-5">
                                <i class="bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}

        </div>
    </div>
</section>
  
{% endblock contents %}