{% extends "base.html" %}
{% load static %}

{% block contents %}
    <div class="container py-5" data-aos="fade-up" >
        <div class="row">
            <div class="col-md-12">
                    <div class="container-fluid" data-aos="fade-up" style="background-color: #F0F5F6;">
                        <div class="row">
                            <div class="col">
                                <div class="container">
                                    <div class="row pb-4">
                                        <div class="col-md-7 pt-3">
                                            <h2 style="font-family: 'Ubuntu', sans-serif; color:#E62E2D">UKMandiri</h2>
                                            <p class="lead bold" style="font-family: 'Ubuntu', sans-serif; color:#56B44C">
                                                <strong style="color:#E62E2D">Profil Koperasi</strong>
                                            </p>
                                            <p class="pb-3">
                                                <h5>
                                                <i class="bi bi-calendar-day"> <strong>Berdiri Pada 11 April 2018</strong></i>
                                                </h5>
                                                <h5>
                                                <i class="bi bi-card-checklist">
                                                    <strong>
                                                No Induk Koperasi : 1212300150024 
                                                    </strong>
                                                </i>

                                                </h5>
                                            </p>
                                        </div>
                                        <div class="col-md-5">
                                            <img src=" {% static 'img/logomandiri.png' %}" alt="" class="img-fluid mb-3">
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container-fluid bg-light py-5" data-aos="fade-up" >
            <div class="row">
                <div class="col-md-12 pt-3 pb-3">
                    <h2 class="text-center bold">Perizinan & Legalitas</h2>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="bold">Nomor Badan Hukum</h5>
                        </div>
                        <div class="card-body">
                            <p>012233333444444444444</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="bold">Perizinan Berusaha Berbasis Risiko</h5>
                        </div>
                        <div class="card-body">
                            <p>NIB : 9123445555999</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="bold">Kemenhumham Perubahan</h5>
                        </div>
                        <div class="card-body">
                            <p>Nomor AHU-0001507 AH 01.38.Tahun 2018</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="bold">Kementrian Koperasi dan Usaha Kecil dan Menengah RI</h5>
                        </div>
                        <div class="card-body">
                            <p>012233333444444444444</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


<!-- TEAM -->
<section id="team" class="py-5 text-center" data-aos="fade-up">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <h1 class="pb-3">Pengelola UKMandiri</h1>
                <hr class="w-25 mx-auto">
                <p class="lead">
                    Inilah Daftar Pengurus Koperasi UKMandiri Sumatera Utara
                    </p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-lg-3" data-aos="flip-left">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'img/people1.jpg' %} " class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Pak Gomgom</h3>
                        <h5 class="text-muted">Pengawas Koparasi</h5>
                        <div class="py-3">
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-facebook"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-twitter"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5">
                                <i class="bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3" data-aos="flip-left">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'img/people2.jpg' %} " class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Sandri Fatmala</h3>
                        <h5 class="text-muted">Direktur</h5>
                        <div class="py-3">
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-facebook"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-twitter"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5">
                                <i class="bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3" data-aos="flip-right">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'img/people3.jpg' %} " class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Ocha Lestari</h3>
                        <h5 class="text-muted">Sekretaris</h5>
                        <div class="py-3">
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-facebook"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-twitter"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5">
                                <i class="bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3" data-aos="flip-right">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'img/people4.jpg' %} " class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Alex Wijaya</h3>
                        <h5 class="text-muted">Bendahara</h5>
                        <div class="py-3">
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-facebook"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5 me-4">
                                <i class="bi-twitter"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none fs-5">
                                <i class="bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
  
{% endblock contents %}