{% extends "backend/master.html" %}
{% load static %}
{% block dashboard %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-12 mb-2">
            <a href="{% url 'export_xls' %}" class="btn btn-success"> export.xls</a>
        </div>
        <div class="col-md-12 shadow-sm py-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>No Hp</th>
                        <th>Keterangan</th>
                        <th>Identitas</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in daftar  %}
                    <tr>
                        <th>{{d.tanggal}}</th>
                        <th>{{d.nama_lengkap}}</th>
                        <th>{{d.email}}</th>
                        <th>{{d.no_hp}}</th>
                        <th>{{d.keterangan}}</th>
                        <th>
                            <img src="{{d.upload_ktp.url}}" style="height: 200px; width:200px;">
                        </th>
                        <th>
                            <a href="{% url 'delete' d.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            <br>
                            <a href="{{d.upload_ktp.url}}" class="btn btn-success" download><i class="bi bi-cloud-download-fill"></i>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock dashboard %}