{% load static %}
<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %} " type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
</head>

<body data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="200">
    <nav class="navbar navbar-expand-lg bg-light navbar-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">UKMandiri</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <a href="{% url 'keluar' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>

    {% block dashboard %}{% endblock dashboard %}
    <!-- FOOTER -->
    <footer id="main-footer" class="text-center bg-light py-5 navbar-light shadow" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="text-md-start col-md-4 me-auto">
                    <h5>UKMandiri</h5>
                    <p>
                        UKM Mandiri berpusat di Lubuk Pakam
                    </p>
                    <small>&copy; UKMandiri 2021</small>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
        AOS.init({
            once: true,
            duration: 800,
        });
    </script>
</body>

</html>